body{
    overflow:hidden;
    min-height: 100vh;
    cursor: crosshair;
}
.bubble{
    position: absolute;
    border-radius: 300px;
    background: rgba(255,166,0,0.6);
    opacity:0;
    animation: anim 8s forwards; /*animation de 8s qui se fera avec le keyframes*/
    filter: hue-rotate(0deg), /*par refereence au cercle chromatique*/
}

.bubble::after{
    background:  radial-gradient(circle closest-side, rgba(255, 255, 255, 0.74), transparent);
}
@keyframes anim {
    to{
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter : hue-rotate(720deg); /*fait deux fois le tour du cercle chromatique*/
    }
}
h3,h2{
    font-size: 10rem;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}
